* {
    padding : 0 ;
    margin : 0 ;
}

body {
    background-color : rgb(27, 33, 26) ;
    min-height : 100vh ;
    min-width : 100vw ;
    overflow : hidden ;
}

/*Page1*/
#gameNameIntro {
    background-color : rgb(235, 213, 171) ;
    height : 100vh ;
    width : 100vw ;
    position : absolute ;
    z-index : 1.1 ;
    display : flex ;
    justify-content : center ;
    align-items : center ;
    transform : translateY(100vh) ; /*Just temporarily making it invisible so animation can work*/
    opacity : 0 ; /*Just temporarily making it invisible so animation can work*/
    /*The Animation*/
    animation : 
        intro1-1 3s ease-in-out 0s 1 normal forwards ,
        intro1-2 3s ease-in-out 3s 1 normal forwards ;
}

#container1 {
    width : 100vw ;
}

.intro {
    color : rgb(27, 33, 26) ;
    font-size : 10vw ;
    text-align : center ;
}

@keyframes intro1-1 {

    to {
        opacity : 1 ;
        transform : translateY(0vh) ;
    }

}

@keyframes intro1-2 {

    to {
        transform : translateY(100vh) ;
    }

}

/*Page2*/

#gameChoiceIntro {
    background-color : rgb(235, 213, 171) ;
    height : 100vh ;
    width : 100vw ;
    position : absolute ;
    z-index : 1.2 ;
    display : flex ;
    justify-items : center ;
    align-items : center ;
    transform : translateY(-100vh) ; /*Just temporarily making it invisible so animation can work*/
    /*The Animation*/
    animation : 
        intro2-1 3s ease-in-out 3s 1 normal forwards ,
        intro2-2 3s ease-in-out 6s 1 normal forwards ;
}

#container2 {
    width : 100vw ;
}

.intro2 {
    color : rgb(27, 33, 26) ;
    font-size : 10vw ;
    text-align : center ;
}

@keyframes intro2-1 {

    to {
        transform : translateY(0vh) ;
    }

}

@keyframes intro2-2 {

    to {
        transform : translateX(-100vw) ;
    }

}

/*Page3*/

#choiceRock {
    background-color : rgb(137, 152, 109) ;
    height : 100vh ;
    width : 100vw ;
    position : absolute ;
    z-index : 1.3 ;
    background-image : url("/Rock-Paper-Scissors-F/Images/rock.png") ;
    background-repeat : no-repeat ;
    background-size : 60% ;
    background-position : center ;
    transform : translateX(100vw) ; /*Just temporarily making it invisible so animation can work*/
    /* The Animation */
    animation : 
        rock-1 3s ease-in-out 6s 1 normal forwards ,
        rock-2 3s ease-in-out 9s 1 normal forwards ;
}

@keyframes rock-1 {

    to {
        transform : translateX(0vw) ;
    }

}

@keyframes rock-2 {

    to {
        width : 33.33334vw ;
    }

}

#choiceScissor {
    background-color : rgb(156, 171, 132) ;
    height : 100vh ;
    width : 66.66666vw ;
    position : absolute ;
    z-index : 1.3 ;
    left : 33.33334vw ;
    background-image : url("/Rock-Paper-Scissors-F/Images/scissor.png") ;
    background-repeat : no-repeat ;
    background-size : 60% ;
    background-position : center ;
    transform : translateX(66.66666vw) ; /*Just temporarily making it invisible so animation can work*/
    /* The Animation */
    animation : 
        scissor-1 3s ease-in-out 9s 1 normal forwards ,
        scissor-2 3s ease-in-out 12s 1 normal forwards ;
}

@keyframes scissor-1 {

    to {
        transform : translateX(0vw) ;
    }

}

@keyframes scissor-2 {

    to {
        width : 33.33333vw ;
    }

}

#choicePaper {
    background-color : rgb(197, 216, 157) ;
    height : 100vh ;
    width : 33.33333vw ;
    position : absolute ;
    z-index : 1.3 ;
    left : 66.66667vw ;
    background-image : url("/Rock-Paper-Scissors-F/Images/paper.png") ;
    background-repeat : no-repeat ;
    background-size : 60% ;
    background-position : center ;
    transform : translateX(33.33333vw) ; /*Just temporarily making it invisible so animation can work*/
    /* The Animation */
    animation : paper-1 3s ease-in-out 12s 1 normal forwards ;
}

@keyframes paper-1 {

    to {
        transform : translateX(0vw) ;
    }

}

/* Computer Reply Pages */

.computerChoice {
    background-color : rgb(27, 33, 26) ;
    height : 100vh ;
    width : 50vw ;
    position : absolute ;
    z-index : 2.1 ;
    left : 50vw ;
    transform : translateX(50vw) ;
}

#computerChoiceRock {
    background-image : url("/Rock-Paper-Scissors-F/Images/rock.png") ;
    background-repeat : no-repeat ;
    background-size : 60% ;
    background-position : center ;
}

#computerChoicePaper {
    background-image : url("/Rock-Paper-Scissors-F/Images/paper.png") ;
    background-repeat : no-repeat ;
    background-size : 60% ;
    background-position : center ;
}

#computerChoiceScissor {
    background-image : url("/Rock-Paper-Scissors-F/Images/scissor.png") ;
    background-repeat : no-repeat ;
    background-size : 40% ;
    background-position : center ;
}

/* User choices hidden pages */
#choiceRock2 {
    background-color : rgb(137, 152, 109) ;
    height : 100vh ;
    width : 100vw ;
    position : absolute ;
    z-index : 2 ;
    background-image : url("/Rock-Paper-Scissors-F/Images/rock.png") ;
    background-repeat : no-repeat ;
    background-size : 60% ;
    background-position : center ;
    transform : translateY(100vh) ; /* Just temporarily making it invisible so animation can work */
}

#choiceScissor2 {
    background-color : rgb(156, 171, 132) ;
    height : 100vh ;
    width : 100vw ;
    position : absolute ;
    z-index : 2 ;
    background-image : url("/Rock-Paper-Scissors-F/Images/scissor.png") ;
    background-repeat : no-repeat ;
    background-size : 40% ;
    background-position : center ;
    transform : translateY(100vh) ; /*Just temporarily making it invisible so animation can work*/
}

#choicePaper2 {
    background-color : rgb(235, 213, 171) ;
    height : 100vh ;
    width : 100vw ;
    position : absolute ;
    z-index : 2 ;
    background-image : url("/Rock-Paper-Scissors-F/Images/paper.png") ;
    background-repeat : no-repeat ;
    background-size : 60% ;
    background-position : center ;
    transform : translateY(100vh) ; /*Just temporarily making it invisible so animation can work*/
}

/* Creating animations for each choice */

/* If User Draws */

/* animation : 
    selectedChoice-1 3s ease-in-out 0s 1 normal forwards ,
    selectedChoice-2 3s ease-in-out 3s 1 normal forwards ; */
/* animation : 
    computerSelected 3s ease-in-out 3s 1 normal forwards ; */

@keyframes selectedChoice-1 {

    to {
        transform : translateY(0vh) ;
    }

}

@keyframes selectedChoice-2 {

    to {
        width : 50vw ;
    }

}

@keyframes computerSelected {

    to {
        transform : translateX(0vh) ;
    }

}

/* If User Wins */

/* animation : 
    selectedChoice-1w 3s ease-in-out 0s 1 normal forwards ,
    selectedChoice-2w 3s ease-in-out 3s 1 normal forwards ,
    selectedChoice-3w 3s ease-in-out 6s 1 normal forwards ; */
/* animation : 
    computerSelected-1w 3s ease-in-out 3s 1 normal forwards ,
    computerSelected-2w 3s ease-in-out 6s 1 normal forwards ; */

@keyframes selectedChoice-1w {

    to {
        transform : translateY(0vh) ;
    }

}

@keyframes selectedChoice-2w {

    to {
        width : 50vw ;
    }

}

@keyframes selectedChoice-3w {

    to {
        width : 100vw ;
    }

}

@keyframes computerSelected-1w {

    to {
        transform : translateX(0vw) ;
    }

}

@keyframes computerSelected-2w {

    to {
        transform : translateX(50vw) ;
    }

}

/* If User Loses */

/* animation : 
    selectedChoice-1l 3s ease-in-out 0s 1 normal forwards ,
    selectedChoice-2l 3s ease-in-out 3s 1 normal forwards ,
    selectedChoice-3l 3s ease-in-out 6s 1 normal forwards ; */
/* animation : 
    computerSelected-1l 3s ease-in-out 3s 1 normal forwards ,
    computerSelected-2l 3s ease-in-out 6s 1 normal forwards ; */

@keyframes selectedChoice-1l {

    to {
        transform : translateY(0vh) ;
    }

}

@keyframes selectedChoice-2l {

    to {
        width : 50vw ;
    }

}

@keyframes selectedChoice-3l {

    to {
        transform : translateX(-50vw) ;
    }

}

@keyframes computerSelected-1l {

    to {
        transform : translateX(0vw) ;
    }

}

@keyframes computerSelected-2l {

    to {
        width : 100vw ;
        transform : translateX(-50vw) ;
    }

}

/* The final Page */

#finalPage {
    background-color : rgb(229, 180, 120) ;
    height : 100vh ;
    width : 100vw ;
    position : absolute ;
    z-index : 150 ;
    display : flex ;
    justify-content : center ;
    align-items : center ;
    transform : translateY(100vh) ;
}

#finalMsgContainer {
    width : 100vw ;
}

#finalMsg {
    color : rgb(27, 33, 26) ;
    text-align : center ;
    font-size : 25vw ;
    position : relative ;
    bottom : 15vh ;
}

#playAgain {
    background-color : rgb(243, 244, 244) ;
    font-size : 2vw ;
    font-weight : 900 ;
    height : 8vh ;
    width : 15vw ;
    border-radius : 15% / 50% ;

    /* Positioning it in center */
    position : relative ;
    left : 42.5vw ;

    /*Making the button click realistic by adding shadow to its deActivated state*/
    box-shadow : 2px 4px 8px 0px rgba(0 , 0 , 0 , 0.75) ;
    border-top : 1px solid rgb(243, 244, 244) ;
    border-left : 1px solid rgb(243, 244, 244) ;
}

#playAgain:active {
    box-shadow : inset 2px 4px 8px 0px rgba(0 , 0 , 0 , 0.75) ;
    border-bottom : 1px solid rgb(243, 244, 244) ;
    border-right : 1px solid rgb(243, 244, 244) ;
    border-top : 1px solid rgb(0 , 0 , 0) ;
    border-left : 1px solid rgb(0 , 0 , 0) ;
    transform : translateY(2px) ;
}

/* The final animation */

/* animation : moveUp 3s ease-in-out 9s 1 normal forwards */
@keyframes moveUp {

    to {
        transform : translateY(-100vh) ;
    }

}

/* This is specially for scissor end */
/* animation : moveUpSpecial 3s ease-in-out 9s 1 normal forwards */
@keyframes moveUpSpecial {

    to {
        
        transform : translate(-50vw , -100vh) ;
    }

}

/* animation : moveUpFinalPage 3s ease-in-out 9s 1 normal forwards */
@keyframes moveUpFinalPage {

    to {
        transform : translateY(0vh) ;
    }

}



